$black: #100D0D;
$white: #FFF;
$cream: #FAF8EE;
$grey: #E5DFD3;
$bronze: #AEA282;
$blue: #000080;
$peach: #E7B9B9;
$babyblue: #B8D1CD;

$font1: 'FoundersGrotesk';
$font2: 'Moonwild';

$giant-text: 5rem;
$larger-text: 2rem;
$large-text: 1.2rem;
$reg-text: 1rem;
$small-text: .8rem;