$black: #100D0D;
$cream: #FAF8EE;
$white: #FFF;
$bronze: #AEA282;
$blue: #000080;

$body-font: 'FoundersGrotesk';
$title-font: 'Montage';

$giant-text: 4rem;
$large-text: 1.2rem;
$reg-text: 1rem;
$small-text: .8rem;