@import "./vars";

* {
    font-family: $font1, sans-serif;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
            color: $black;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

main {
    padding: 100px 0 100px;
}

h1, h2, h3, h4, h5, ul, p, a {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    text-transform: uppercase;
}

p {
    line-height: 1.8;
    margin-bottom: 12px;
    color: $black;
}

a {
    color: $blue;
    text-decoration: none;
    font-family: $font2;
}

h1, .h1 {
    font-family: $font2, serif;
    font-size: $giant-text;
    font-weight: 500;
    color: $black;
}

button {
    background: none;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

input {
    background: none;
    border: none;
    border-bottom: solid 1px $black;
    padding: 4px;
    color: $black;
    font-size: $reg-text;
}

label {
    text-align: left;
    text-transform: lowercase;
    font-size: $small-text;
    font-weight: 600;
    color: $black;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.absolute {
    position: absolute;
}

.bronze {
    color: $bronze;
}

.btn {
    background: $blue;
    padding: 8px 24px;
    color: $cream;
    font-family: $font1;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1.4px;
    border-radius: 4px;
    transition: all ease-in-out .18s;
    min-width: 120px;

    &:hover {
        border-radius: 20px;
    }
}

.circle {
    width: 8px;
    height: 8px;
    background-color: $bronze;
    border-radius: 100%;
}

.cream {
    color: $cream;
}

.error {
    color: $blue;
    font-size: $small-text;
    font-weight: 400;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &.row {
        justify-content: space-between;
    }

    &.column {
        flex-direction: column;
        align-items: center;
    }

    &.column-reverse {
        flex-direction: column-reverse;
        align-items: center;
    }
}

.grey {
    color: $grey;
}

.logo {
    max-width: 180px;
}

.margin-auto {
    margin: auto;
}

.p1 {
    text-transform: uppercase;
    font-size: $reg-text;
    font-family: $font1;
}

.page_width {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.relative {
    position: relative;
}

.small_width {
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
}

.text-center {
    text-align: center;
}

.uppercase {
    text-transform: uppercase;
}

#app {
    min-height: 100vh;
    width: 100%;

    &.black {
        background: $black;
    }

    &.cream {
        background: $cream;
    }

    &.grey {
        background: $grey;
    }
}