@import "./vars";

#home {
    padding: 0;

    h1 {
        margin: 1.5rem 0;
    }

    h2 {
        font-size: $reg-text;
        font-weight: 400;
        color: $bronze;
    }

    h3 {
        font-size: $reg-text;
        font-weight: 400;
        color: $black;
    }
}